


.main {
    background: white;
    margin: auto;
    margin-top: -25.2rem;
    height: 90rem;
    width: 0.001rem;
    z-index: 1;
    opacity: 0;
    animation: 1s;
    transition: 0.3s;
    color: rgb(22, 22, 22);
}


.main_animation {
    background: white;
    margin: auto;
    margin-top: -25.2rem;
    opacity: 1;
    width: 84rem;
    height: 90rem;
    z-index: 1;
}

.animation {
  background: rgb(22, 22, 22);   
  margin-top: -0.2rem;
  z-index: -1;
}

.path3 {
    stroke-dashoffset: 1000;
	stroke-dasharray: 1000;
}

.part_title {
    display: flex;
}
.part_title_left {
    font-weight: 200;
    font-size: 2cm;
    padding-top: 4rem;
    margin-left: 7rem;
}

.part_title_right {
    font-weight: 200;
    font-size: 2cm;
    padding-top: 4rem;
    margin-left: 20rem;
}


.part_mainbox{
    margin-top: 4rem;
    display: flex;
    flex-direction: row;
}

.part_flexbox1 {
    width: 50%;

}

.k8 {
   font-size: 1cm; 
   font-weight: 200;
}

.k8_details {
    font-size: 0.5cm;
    font-family: 'Roboto';
}
.part_flexbox2{
    justify-content: right;
    width: 50%;
}

.edu {
    margin-top: 0.6cm;
}
.edu_details {
    font-size: 0.5cm;
    font-family: "Roboto";
}

.button-81 {
  margin-top: 0.8rem;
  background-color: rgb(228, 225, 225);
  border: 0 solid #e4e7eb;
  border-radius: 1.5rem;
  box-sizing: border-box;
  color: #0d172a;
  cursor: pointer;
  display: inline-block;
  font-family: "Basier circle",-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 1.1rem;
  font-weight: 600;
  line-height: 0.5;
  padding: 1rem 1.6rem;
  text-align: center;
  text-decoration: none #0d172a solid;
  text-decoration-thickness: auto;
  transition: all .1s cubic-bezier(.4, 0, .2, 1);
  box-shadow: 0px 1px 2px rgba(142, 154, 180, 0.25);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-81:hover {
  background-color: #1e293b;
  color: #fff;
}

@media (min-width: 768px) {
  .button-81 {
    font-size: 1.125rem;
    padding: 1rem 2rem;
  }
}